:root {
    --themeBlue: #1E3A8A;
}

.homebg {
    height: 482px;
    display: flex;
    align-items: center;

    background-image: url("./pics/main_background.png");

    p {
        margin-left: 12.5%;
        font-size: 44px;
        font-family: "Volkhov";

        span {
            color: var(--themeBlue);
            font-family: "Volkhov-Bold";
        }

        button {
            margin-top: 3%;
        }
    }


    img {
        margin-left: 20%;
        scale: 130%;
    }
}

.vote {
    height: 300px;
}

h1 {
    font-size: 35px;
    font-family: "Volkhov-Bold";
    color: var(--themeBlue);
    margin: 60px 0 15px 0;
}

p,
li {
    margin: 0;
    font-size: 20px;
}

.about {
    margin-left: 7%;
    width: 85%;
}

.options,
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    .box {
        padding: 25px;
        margin-right: 50px;
        box-shadow: 0 0 10px 3px #c5cfdb;
        border-radius: 30px;
        height: 300px;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        margin: 0;
        margin-top: -80px;
        scale: 45%;
    }

    p {
        /* font-family: "roboto"; */
        font-weight: 500;
        margin-top: -30px;
        margin-bottom: 20px;
        font-size: 18px;
    }
}