.main {
    height: 70vh;
    width: 45vw;
    border-radius: 10px;
    background-color: white;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    cursor: pointer;
    font-size: large;
}

.filter {
    background-color: black;
    height: 10vh;
    width: 10vw;
}

.buttonsDiv {
    display: flex;
    gap: 30px;
}

.buttonItem {
    font-size: 23px;
}