.full {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin: 6vh 0 3vh 0;
    font-size: 20px;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    .row:nth-child(even) {
        background-color: #f9f9f9;
    }

    .row {
        min-height: 5vh;
    }

    .row:hover {
        background-color: #f1f1f1;
    }

    #col {
        padding: 3vh 0;
    }

    .col {
        padding: 1.5vh;
        border: 1px solid #ddd;

        img {
            width: 12vh;
            height: auto;
            display: block;
            border-radius: 4px;
            border-radius: 50%
        }
    }

    th {
        font-size: 24px;
        background-color: var(--themeBlue);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 3vh 0;
    }
}

.note {
    font-size: 17px;
    margin-bottom: 2vh;
}

#qwe {
    font-size: 20px;
    padding: 1.2vh 6vh;
}

/* Vote Div */

.voteDiv {
    font-family: "Poppins-Regular";
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;

    p {
        font-size: 16px;
    }

    span {
        font-family: "Poppins-Bold";
        color: var(--themeBlue);
    }

    .buttonsDiv {
        margin-top: 2vh;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
}