:root {
    --themeBlue: #1E3A8A;
}

.space {
    padding-top: 9vh;
}

.homebg {
    width: 100vw;
    height: 48vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, #f9c149, white, #a8f5a2);

    p {
        font-size: 44px;
        font-family: "Volkhov";

        span {
            color: var(--themeBlue);
            font-family: "Volkhov-Bold";
        }

        button {
            margin-top: 3vh;
        }
    }


    img {
        margin-left: 20vw;
        height: 35vh;
        width: auto;
    }
}

.vote {
    height: 30vh;
}

p,
li {
    margin: 0;
    font-size: 20px;
}

.about {
    margin-left: 7%;
    width: 85%;
}

.options,
.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        z-index: 10;
        text-align: center;
        font-size: 40px;
        font-family: "Volkhov-Bold";
        color: var(--themeBlue);
        margin: 6vh 0 1.5vh 0;
    }
}

.boxes {
    z-index: 10;
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .right-box {
        margin-right: 5vh;
    }

    .box {
        padding: 3vh;
        box-shadow: 0 0 10px 3px #c5cfdb;
        border-radius: 30px;
        height: 35vh;
        width: 38vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }
    }

    img {
        margin: 0;
        margin-top: 1vh;
        height: 12.5vh;
    }

    .lg {
        height: 15vh;
        margin-top: -1vh;
    }

    p {
        font-weight: 500;
        margin: 2vh 0;
        font-size: 16px;
    }
}

.angels {
    margin: 7vh 0;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vh;
        height: 30vh;
    }

    img {
        height: 20vh;
        width: auto;
    }

    .lg {
        margin-top: -4vh;
        height: 25vh;
    }

    .black {
        border-radius: 10vh;
        width: 0.2cap;
        margin: 0 10vh;
        background-color: #a1a1a1;
    }

    h1 {
        font-size: 40px;
        font-weight: 900;
    }

    h1,
    h3 {
        font-family: "Montserrat";
    }
}


.collapsible {
    overflow: hidden;
    height: 0;
    transition: height 1s, padding 1s ease;
}

.collapsible.open {
    height: auto;
    padding: 1vh;
}