:root {
    --themeBlue: #1e3a8a;
}

header {
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .logo {
        font-family: 'Nico Moji', sans-serif;
        font-weight: 400;
        font-size: 40px;
        margin-left: 4%;
        margin-right: 15%;
        color: var(--themeBlue);
    }

    .nav-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav-list li {
        padding: 10px 15px;
        margin-right: 8%;
        border-radius: 7px;
        font-weight: 500;
        font-size: 19px;
        cursor: pointer;
    }

    li:hover {
        color: var(--themeBlue);
    }

    .link {
        color: var(--themeBlue);
    }

    button {
        margin-left: 55%;
        height: 45px;
        padding: 0 50px;
    }

    button:hover {
        background-color: rgba(30, 58, 138, 0.8);
    }
}