.toggleContainer {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.toggleCircle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.on {
    /* background-color: #4caf50; */
    background-color: var(--themeBlue);
}

.on .toggleCircle {
    transform: translateX(25px);
}
