.wrapper {
    /* background: #fff; */
    width: 100%;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); */
}

.header {
    width: 20vw;
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
}

.tab {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33.33%;
}


.activeTab {
    color: white;
}

.slider {
    z-index: 0;
    position: absolute;
    height: 80%;
    border-radius: inherit;
    /* background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%); */
    background-color: var(--themeBlue);
    transition: all 0.3s ease;
}

.cardArea {
    overflow: hidden;
}

.cards {
    display: flex;
    width: 300%;
    transition: all 0.3s ease;
}

.row {
    width: 33.4%;
}

.priceDetails {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.price {
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
}

.price::before {
    content: "$";
    left: -13px;
    top: 17px;
    font-size: 20px;
    position: absolute;
}

.price::after {
    content: "/mon";
    right: -33px;
    bottom: 17px;
    font-size: 13px;
    position: absolute;
}

.priceDetails p {
    font-size: 18px;
    margin-top: 5px;
}

.features li {
    display: flex;
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
}

.features li i {
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features li span {
    margin-left: 10px;
}

.button {
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(0.98);
}