.wrapper {
    /* background: #fff; */
    width: 100%;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); */
}

.completeHeader {
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.header {
    width: 20vw;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
}

.leftButtonsDiv,
.buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.tab {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33.33%;
}

.activeTab {
    color: white;
}

.slider {
    z-index: 0;
    position: absolute;
    height: 80%;
    border-radius: inherit;
    /* background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%); */
    background-color: var(--themeBlue);
    transition: all 0.3s ease;
}

.cardArea {
    margin-top: 5%;
    overflow: hidden;
}

.cards {
    display: flex;
    width: 300%;
    transition: all 0.3s ease;
}

.row {
    width: 33.4%;
}