.full {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin: 60px 0 30px 0;
    font-size: 20px;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    .row:nth-child(even) {
        background-color: #f9f9f9;
    }

    .row:hover {
        background-color: #f1f1f1;
    }

    #col {
        padding: 30px 0;
    }

    .col {
        padding: 13px;
        border: 1px solid #ddd;

        img {
            width: 120px;
            height: auto;
            display: block;
            border-radius: 4px;
        }
    }

    th {
        font-size: 24px;
        background-color: var(--themeBlue);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 30px 0;
    }
}

.note {
    font-size: 17px;
    margin-bottom: 20px;
}

#qwe {
    font-size: 20px;
    padding: 12px 60px;
}

/* Vote Div */

.voteDiv {
    font-family: "Poppins-Regular";
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

    p {
        font-size: 16px;
    }

    span {
        font-family: "Poppins-Bold";
        color: var(--themeBlue);
    }

    .buttonsDiv {
        margin-top: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
}